.LogoAnimationWrapper {
    z-index: 999999;
    background-color: #ffffff;
    width: 100vw;
    height: 100%;
    height: 100vh;
    position: fixed;
    display: flex; 
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 1;
    // transition: all 0.2s ease;
    .LoaderPercentage {
        // font-weight: bold;
        // font-size: 20px;
        // width: 75px;
        // height: 75px;
        // display: flex;
        // justify-content: center;
        // align-items: center;
        // border-radius: 50%;
        // transition: all 0.5s ease;
        width: 300px;
        max-width: 300px;
        text-align: center;
        padding: 10px;
        border-radius: 20px;
        border: 1px solid #00000050;
        transition: all 0.2s ease;
        // background: linear-gradient(40deg, green 0%,  #ffffff 0%);
    }
    .LogoAnimation {
        width: 50vw;
        height: 40vh;
        object-fit: contain;
    }
    .LoaderTitle {
        font-size: 32px;
        font-weight: 900;
    }
}
.LogoAnimationWrapper.dontShow {
    opacity: 0;
    z-index: -1;
    transition: all 0.5s ease;
}
@media only screen and (max-width: 768px) {
      .LogoAnimationWrapper {
        .LogoAnimation {
            width: 100vw;
        }
      }  
}