/* Areas page */
.regionsWrapper {
  .regions {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    text-align: center;
    gap: 10px;
    width: 95%;
    margin: 100px auto;
    position: relative;
    .region {
      background-color: #ffffff70;
      border-radius: 20px;
      box-shadow: 0 0 40px #e6e6e6;
      padding: 5px 20px;
      background-position: 0% bottom;
      background-repeat: no-repeat;
      background-size: cover;
      background-blend-mode: luminosity;
      transition: all 0.3s ease;
      .regionName {
        font-size: 1.9rem;
        font-weight: 900;
        color: white;
        text-shadow: 0 0 10px black;
        letter-spacing: 1px;
        background-color: #00000099;
        width: 100%;
      }
      &:hover {
        box-shadow: 0 0 20px #cecece;
        background-blend-mode: darken;
      }
      ul {
        list-style: none;
        text-align: center;
        padding: 0;
        display: flex;
        flex-wrap: wrap;
        .listItem {
          background-color: rgb(19, 123, 221);
          border-radius: 20px;
          overflow: hidden;
          margin: 10px;
          transition: all 0.3s ease;
          &:hover {
            background-color: rgb(79, 170, 255);
          }
          .link {
            text-decoration: none;
            font-size: 1rem;
            color: white;
            padding: 5px 8px;
            font-weight: bold;
            letter-spacing: 0.2px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .cityName {
              margin-right: 5px;
            }
          }
        }
      }
      // .cover {
      //   background-color: #00000050;
      //   position: absolute;
      //   left: 0;
      //   top: 0;
      //   z-index: 1;
      //   width: 100%;
      //   height: 100%;
      // }
    }
  }
}

/* End Of Areas page */

/* Single Area */
.singleAreaWrapper {
  .contentWrapper {
    padding: 0 100px;
    margin-bottom: 100px;
    .introductionWrapper {
      text-align: center;
      max-width: 50%;
      margin: 0 auto;
      .introduction {
        background-color: #7fc342;
        border-radius: 20px;
        padding: 20px;
        margin: 20px;
        color: white;
        h2 {
          text-shadow: 0 0 20px #00000090;
          font-size: 2rem;
        }
        p {
          text-shadow: 0 0 20px #00000090;
          font-size: 1.3rem;
        }
      }
    }
    .titlesWrapper {
      margin-top: 100px;
      .titles {
        width: 90%;
        margin: 0 auto;
        .titleSectionWrapper {
          position: relative;
          .transparentIcon {
            position: absolute;
            z-index: -1;
            // width: 200px;
            img {
              animation-name: rotateAnim;
              animation-duration: 4s;
              animation-direction: alternate;
              animation-iteration-count: infinite;
              animation-fill-mode: both;
              animation-play-state: running;
            }
          }
  
          .titleSection {
            // background-color: red;
            box-shadow: 10px -5px 30px #d1d1d1;
            border-radius: 30px;
            padding: 20px;
            margin: 20px;
            margin-bottom: 100px;
            background-color: #ffffff50;
            backdrop-filter: blur(5px);
            z-index: 1;
            .title {
              font-size: 1.8rem;
              position: absolute;
              top: 0;
              right: 0;
              transform: translateY(-50%);
              background: linear-gradient(45deg, #ffffff00 35%, #2982e9 80%);
              color: white;
              width: 100%;
              padding: 10px;
              padding-right: 20px;
              border-radius: 20px 20px 0 20px;
            }
            .text {
              font-size: 1.3rem;
              padding-right: 25px;
              margin-top: 70px;
            }
          }
        }
      }
    }
    
  }
}

/* End Of Single Area */


/* mobile css */

/* Single Area */
@media only screen and (max-width: 768px) {

  .singleAreaWrapper {
    overflow-x: hidden;
    .contentWrapper {
      padding: 0;
      .introductionWrapper {
        max-width: 90%;
        .introduction {
          h2 {
          }
          p {
          }
        }
      }
      .titlesWrapper {
        .titles {
          width: 100%;
          .titleSectionWrapper {
            .transparentIcon {
              img {
              }
            }
    
            .titleSection {
              margin-bottom: 50px;
              .title {
                background: linear-gradient(45deg, #ffffff00 10%, #2982e9 85%);
                text-shadow: 0 0 10px black;
                font-size: 1.5rem;
              }
              .text {
              }
            }
          }
        }
      }
      
    }
  }
}

/* End Of Single Area */
/* end of mobile css */

/* KEYFRAMES */

@keyframes rotateAnim {
  0% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(20deg);
  }
}
