@import "../../styles/_variables.scss"; // Import the _variables.scss file
@import "../../styles/globals.scss"; // Import the _variables.scss file

.checkoutPage {
  height: 100%;
  .pageHero {
    min-height: 40vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../../public/media/heroBg.png");
    background-position: bottom -150px right;
    h1 {
      font-size: 3rem;
      color: white;
      text-shadow: 0 0 10px black;
    }
  }
  .checkoutContent {
    display: flex;
    width: 80%;
    align-items: flex-start;
    margin: 100px auto;
    height: 100%;
    .routeDetails {
      margin: 0 20px;
      width: 70%;
      text-align: center;
      box-shadow: 0 0 200px rgb(214, 214, 214);

      border-radius: 20px;
      h3 {
        font-size: 1.4rem;
      }
      .theRoute {
        .sectionWrapper {
          .detailsHeading {
            font-size: 1.15rem;
            font-weight: 600;
            margin: 0;
          }
          .section {
            display: flex;
            justify-content: center;
            margin-bottom: 30px;
            .column {
              width: max-content;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
              margin-left: 20px;

              .dataHeading {
                margin-left: 10px;
                font-size: 1rem;
                font-weight: 400;
                margin-top: 0;
                margin-bottom: 10px;
              }
              span {
                font-size: 1rem;
                font-weight: bold;
              }
            }
            .wayWrapper {
              display: flex;
              flex-direction: column;
              justify-content: space-between;
              .wayTitle {
                font-size: 1.2rem;
                text-align: right;
              }
            }
            .row {
              display: grid;
              grid-template-columns: repeat(2, 1fr);
              text-align: right;
              grid-gap: 0;
              gap: 0;
              justify-content: center;
              align-items: center;
              justify-items: start;
              .wayRowDataTitle {
                margin: 0;
                font-size: 0.9rem;
                max-width: fit-content;
              }
              .wayRowData {
                font-size: 0.9rem;
                margin: 0;
              }
            }
          }
        }
      }
    }
    .checkoutBar {
      margin: 0 20px;
      text-align: center;
      width: 30%;
      height: 100%;
      position: sticky;
      box-shadow: 0 0 200px rgb(214, 214, 214);
      border-radius: 20px;
      padding: 20px;
      top: 50%;
      transform: translateY(0%);
      .mainTitle {
        font-size: 1.5rem;
        margin: 0;
      }
      .section {
        .sectionTitle {
          text-align: right;
          font-size: 1.2rem;
          margin: 0;
        }
        .paymentOptions {
          display: flex;
          flex-direction: column;
          text-align: right;
          .toPayNow {
            color: rgb(94, 151, 9);
        }
        .toPayLater {
              color: $color-blue;
          }
          .instead {
            color: rgb(255, 127, 127);
            text-decoration: line-through;
          }
          .discount {
          }
        }
        .importantMessage {
          color: red;
          font-size: 0.8rem;
          line-height: 20px;
          margin: 10px 0;
        }
      }
      .ccDetailsWrapper {
        .ccDetailsForm {
          max-width: 70%;
          margin: 20px auto;
          input {
            width: 100%;
            border-radius: 5px;
            border: 1px solid rgb(155, 155, 155);
          }
          .wrapper {
            margin-bottom: 10px;
          }
          .ccExpDateAndCvvWrapper {
            display: grid;
            grid-template-columns: 32% 32% 32%;
            justify-content: space-between;
            select {
              border-radius: 5px;
              border: 1px solid rgb(155, 155, 155);
            }
          }
          .ccNameAndIdWrapper {
            display: flex;
            justify-content: space-between;
            input {
              width: 48%;
            }
          }
          input,
          select {
            height: 35px;
            padding-right: 2px;
            padding-left: 2px;
            text-align: center;
            font-size: 1rem;
          }
          .submitButton {
            border: none;
            padding: 5px 10px;
            color: $color-white;
            background-color: $color-green;
            font-size: 1rem;
            border-radius: 10px;
            width: 100%;
          }
          .disabled {
            opacity: 0.5;
            cursor: not-allowed !important;
          }
          .dealPriceSelected {
            font-size: 1.3rem;
            margin: 5px 0;
            line-height: inherit;
          }
        }
      }
    }
  }
}
